<html>
<head>
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Makerspace Kaarst | {{ .Title }}</title>{{ if .Site.Params.Favicon }}
      <link rel="stylesheet" href="/css/vars.css">
      <link rel="stylesheet" href="/css/slate.css">
      <link rel="stylesheet" href="/css/singlepagecss.css">
      <link rel="shortcut icon" href="{{ .Site.Params.Favicon }}">
      <base href="/" target="_blank">
      {{ end }}
  </head>
</head>

<body>
  {{ partial "nav.html" . }}
  <div style="flex: 1 1 auto;margin-left:1rem;margin-right:1rem">
    <h1 class="pagetitle">{{.Title}}</h1>
    <div style="font-size:18px;" class="content">{{.Content}}</div>

    </body>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  </div>
</html>
