.pagetitle{
  font-size: 6rem;
  text-align: center;
  margin:0.2rem;
  color: #fff;
}

body{
  color: #fff;
  display: flex;
  text-align: left;
  background-color: var(--main-background-color);
}

.content{
  margin-left: 10rem;
}

a{
  color: var(--link-color);
  text-decoration: none;
}
