.pagetitle{
  font-size: 6rem;
  text-align: center;
  margin:0.2rem;
  color: #fff;
}

body{
  color: #fff;
  display: flex;
  text-align: left;
  background-color: var(--main-background-color);
}

.content{
  margin-left: var(--content-margin);
  margin-right: var(--content-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

a{
  color: var(--link-color);
  text-decoration: none;
}

p,table,img{
  margin-left: var(--content-indent);
}
th{
  padding-left: 2rem;
  text-align: left;
  background-color: #0f0f0f;
}

td {
  padding-left: 2rem;
  text-align: left;
}
td *{
  text-align: left;
}

h1,h2,h3,h4,h5,h6{
  text-align: left;
}

body {
  -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
     -khtml-user-select: all; /* Konqueror HTML */
       -moz-user-select: all; /* Old versions of Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
            user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

tr:nth-child(even){background-color: #222;}
tr:nth-child(odd){background-color: #333;}
