:root{
  --content-indent: 5rem;
  --content-margin: 5rem;

  --main-background-color:#444;
  --font-color:#fff;
  --link-color: #568de6;
  --table-main:#111;
  --table-even:#222;
  --table-odd: #333;

}

*[data-tooltip]::after{
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1) !important;
}

.icon{

  color: var(--font-color);
}
